.*
*.o
*.lo
*.la
*.a
*.log
*.tmp
*.dis
*~
*.orig
*.swp
*.swo
*.kdev4
*.pyc

Makefile.in
Makefile
.deps
.libs

/aclocal.m4
/config/libtool.m4
/config/ltoptions.m4
/config/ltsugar.m4
/config/ltversion.m4
/config/lt~obsolete.m4
/autom4te.cache
/configure
/build*
/VERSION

!.gitignore
