.*
*.o
*.lo
*.la
*.a
*.log
*.tmp
*.dis
*~
*.orig
*.swp
*.swo
*.kdev4
*.pyc
*gz

Makefile.in
Makefile
.deps
.libs

/VERSION
/aclocal.m4
/autom4te.cache
/build*
/config.status
/configure
/libtool
/rofl_ofdpa.pc
/tags

!.clang-format
!.travis.yml
!.gitignore
